.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-pro .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1728px;
    height: 4981px;
    position: relative;
}

.macbook-pro .overlap {
    position: absolute;
    width: 1778px;
    height: 4821px;
    top: -61px;
    left: -16px;
}

.macbook-pro .sponser {
    position: absolute;
    width: 1730px;
    height: 368px;
    top: 1288px;
    left: 16px;
}

.macbook-pro .overlap-group {
    position: relative;
    width: 1728px;
    height: 368px;
    background-image: url(./img/rectangle-8.svg);
    background-size: 100% 100%;
}

.box {
    width: 1728px;
    height: 368px;
}

.box .rectangle {
    position: fixed;
    width: 1728px;
    height: 368px;
    top: 0;
    left: 0;
}


.macbook-pro .text-wrapper {
    width: 382px;
    top: 50px;
    left: 659px;
    position: absolute;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #06978f;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .sponser-2 {
    position: absolute;
    width: 1190px;
    height: 75px;
    top: 184px;
    left: 254px;
}

.macbook-pro .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #908d89;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 282px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #908d89;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 583px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #908d89;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 987px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #908d89;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .about-us {
    position: absolute;
    width: 1491px;
    height: 594px;
    top: 1765px;
    left: 164px;
}

.macbook-pro .we-are-a-leading {
    position: absolute;
    width: 702px;
    top: 231px;
    left: 0;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: transparent;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .span {
    color: #000000b2;
}

.macbook-pro .text-wrapper-6 {
    color: #b77850;
}

.macbook-pro .text-wrapper-7 {
    width: 382px;
    top: 97px;
    left: 6px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #06978f;
    font-size: 60px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .overlap-2 {
    position: absolute;
    width: 675px;
    height: 579px;
    top: 0;
    left: 812px;
}

.macbook-pro .furniture-ruang-tamu {
    position: absolute;
    width: 635px;
    height: 344px;
    top: 235px;
    left: 0;
    object-fit: cover;
}

.macbook-pro .img {
    position: absolute;
    width: 422px;
    height: 399px;
    top: 0;
    left: 253px;
    object-fit: cover;
}

.macbook-pro .wyscu {
    position: absolute;
    width: 1748px;
    height: 747px;
    top: 2474px;
    left: 16px;
}

.macbook-pro .overlap-3 {
    position: relative;
    width: 1728px;
    height: 747px;
    background-image: url(./img/pngtree-white-pattern-islamic-background-picture-image-1911262-1.png);
    background-size: cover;
    background-position: 50% 50%;
}

.macbook-pro .overlap-4 {
    position: absolute;
    width: 484px;
    height: 468px;
    top: 144px;
    left: 102px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #0000001a;
}

.macbook-pro .div-wrapper {
    position: absolute;
    width: 127px;
    height: 46px;
    top: 401px;
    left: 334px;
    background-color: #b77850;
    border-radius: 10px;
}

.macbook-pro .text-wrapper-8 {
    width: 106px;
    top: 0;
    left: 21px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 32px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-9 {
    width: 288px;
    top: 55px;
    left: 46px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 50px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .we-sell-with-high {
    position: absolute;
    width: 418px;
    top: 156px;
    left: 46px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000b2;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .overlap-5 {
    position: absolute;
    width: 484px;
    height: 468px;
    top: 144px;
    left: 622px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #0000001a;
}

.macbook-pro .overlap-6 {
    position: absolute;
    width: 127px;
    height: 46px;
    top: 401px;
    left: 332px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #b77850;
}

.macbook-pro .text-wrapper-10 {
    position: absolute;
    width: 106px;
    top: -1px;
    left: 20px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b77850;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .overlap-7 {
    position: absolute;
    width: 418px;
    height: 323px;
    top: 59px;
    left: 44px;
}

.macbook-pro .text-wrapper-11 {
    position: absolute;
    width: 288px;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .p {
    position: absolute;
    width: 418px;
    top: 97px;
    left: 0;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000b2;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .overlap-group-2 {
    position: absolute;
    width: 484px;
    height: 468px;
    top: 144px;
    left: 1186px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #0000001a;
}

.macbook-pro .overlap-8 {
    position: absolute;
    width: 127px;
    height: 46px;
    top: 401px;
    left: 329px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #b77850;
}

.macbook-pro .overlap-9 {
    position: absolute;
    width: 375px;
    height: 318px;
    top: 51px;
    left: 55px;
}

.macbook-pro .text-wrapper-12 {
    position: absolute;
    width: 375px;
    top: 92px;
    left: 0;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000b2;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-13 {
    position: absolute;
    width: 887px;
    top: 31px;
    left: 421px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #06978f;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .button {
    position: absolute;
    width: 194px;
    height: 29px;
    top: 669px;
    left: 778px;
}

.macbook-pro .ellipse {
    left: 0;
    background-color: #b77850;
    position: absolute;
    width: 32px;
    height: 29px;
    top: 0;
    border-radius: 16px/14.5px;
}

.macbook-pro .ellipse-2 {
    left: 54px;
    background-color: #d9d9d9;
    position: absolute;
    width: 32px;
    height: 29px;
    top: 0;
    border-radius: 16px/14.5px;
}

.macbook-pro .ellipse-3 {
    left: 108px;
    background-color: #d9d9d9;
    position: absolute;
    width: 32px;
    height: 29px;
    top: 0;
    border-radius: 16px/14.5px;
}

.macbook-pro .ellipse-4 {
    left: 162px;
    background-color: #d9d9d9;
    position: absolute;
    width: 32px;
    height: 29px;
    top: 0;
    border-radius: 16px/14.5px;
}

.macbook-pro .products {
    position: absolute;
    width: 1778px;
    height: 4821px;
    top: 0;
    left: 0;
}

.macbook-pro .overlap-10 {
    position: relative;
    width: 1772px;
    height: 4821px;
}

.macbook-pro .text-wrapper-14 {
    width: 454px;
    left: 1012px;
    position: absolute;
    top: 4365px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-15 {
    position: absolute;
    width: 454px;
    top: 4285px;
    left: 1012px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #161616;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-16 {
    position: absolute;
    width: 595px;
    top: 4464px;
    left: 190px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000b2;
    font-size: 30px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-17 {
    position: absolute;
    width: 584px;
    top: 4453px;
    left: 1012px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000b2;
    font-size: 30px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .header {
    position: absolute;
    width: 1772px;
    height: 4821px;
    top: 0;
    left: 0;
    background-color: transparent;
}

.macbook-pro .overlap-11 {
    position: relative;
    width: 1728px;
    height: 4760px;
    top: 61px;
    left: 16px;
}

.macbook-pro .spacejoy {
    position: absolute;
    width: 1728px;
    height: 1227px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.macbook-pro .home {
    position: absolute;
    width: 1233px;
    height: 4392px;
    top: 368px;
    left: 139px;
}

.macbook-pro .overlap-12 {
    position: absolute;
    width: 902px;
    height: 576px;
    top: 0;
    left: 0;
    background-color: #ffffffd9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #0000001a;
}

.macbook-pro .group {
    position: absolute;
    width: 374px;
    height: 72px;
    top: 420px;
    left: 79px;
}

.macbook-pro .overlap-group-3 {
    position: relative;
    width: 372px;
    height: 72px;
    background-color: #b77850;
    border-radius: 10px;
}

.macbook-pro .text-wrapper-18 {
    position: absolute;
    top: 12px;
    left: 116px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .make-your-home {
    position: absolute;
    width: 787px;
    top: 53px;
    left: 59px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-19 {
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
}

.macbook-pro .text-wrapper-20 {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
}

.macbook-pro .text-wrapper-21 {
    position: absolute;
    width: 716px;
    top: 275px;
    left: 64px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000b2;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .overlap-wrapper {
    position: absolute;
    width: 374px;
    height: 72px;
    top: 4320px;
    left: 35px;
}

.macbook-pro .overlap-group-wrapper {
    position: absolute;
    width: 374px;
    height: 72px;
    top: 4303px;
    left: 857px;
}

.macbook-pro .rectangle {
    position: absolute;
    width: 1728px;
    height: 162px;
    top: 0;
    left: 0;
    background-color: #f5f3f3;
}

.macbook-pro .text-wrapper-22 {
    top: 65px;
    left: 486px;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b57955;
    font-size: 24px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-23 {
    top: 65px;
    left: 639px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b57955;
    font-size: 24px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-24 {
    position: absolute;
    top: 65px;
    left: 829px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b57955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-25 {
    position: absolute;
    top: 65px;
    left: 1018px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b57955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-26 {
    top: 65px;
    left: 1144px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b57955;
    font-size: 24px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .group-2 {
    position: absolute;
    width: 217px;
    height: 60px;
    top: 53px;
    left: 1393px;
}

.macbook-pro .overlap-13 {
    position: relative;
    width: 215px;
    height: 60px;
    background-color: #b77850;
    border-radius: 5px;
}

.macbook-pro .text-wrapper-27 {
    position: absolute;
    top: 12px;
    left: 56px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .a-furniturey {
    position: absolute;
    top: 36px;
    left: 102px;
    font-family: "Pirata One-Regular", Helvetica;
    font-weight: 400;
    color: #06978f;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-28 {
    font-family: "Pirata One-Regular", Helvetica;
    font-weight: 400;
    color: #06978f;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-29 {
    font-family: "Pirata One-Regular", Helvetica;
    font-weight: 400;
    color: #06978f;
    font-size: 70px;
    letter-spacing: 0;
}



.macbook-pro .text-wrapper-30 {
    position: absolute;
    width: 132px;
    top: 4366px;
    left: 686px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-31 {
    position: absolute;
    width: 454px;
    top: 4280px;
    left: 190px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-32 {
    width: 132px;
    left: 190px;
    position: absolute;
    top: 4365px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-33 {
    width: 454px;
    top: 3367px;
    left: 678px;
    position: absolute;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #06978f;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .meja-laptop-lipat {
    position: absolute;
    width: 595px;
    height: 737px;
    top: 3526px;
    left: 190px;
    object-fit: cover;
}

.macbook-pro .arsitag-januari {
    position: absolute;
    width: 592px;
    height: 737px;
    top: 3526px;
    left: 1012px;
    object-fit: cover;
}

.macbook-pro .text-wrapper-34 {
    position: absolute;
    width: 132px;
    top: 4365px;
    left: 1491px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .overlap-14 {
    position: absolute;
    width: 1728px;
    height: 162px;
    top: 4819px;
    left: 0;
    background-color: #f9f4ea;
}

.macbook-pro .group-3 {
    position: absolute;
    width: 268px;
    height: 50px;
    top: 64px;
    left: 173px;
}

.macbook-pro .pngtree-whatsapp {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.macbook-pro .text-wrapper-35 {
    position: absolute;
    top: 4px;
    left: 70px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b57955;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .group-4 {
    position: absolute;
    width: 229px;
    height: 50px;
    top: 64px;
    left: 539px;
}

.macbook-pro .text-wrapper-36 {
    position: absolute;
    top: 2px;
    left: 67px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b57955;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .png-transparent {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

.macbook-pro .group-5 {
    position: absolute;
    width: 420px;
    height: 42px;
    top: 64px;
    left: 843px;
}

.macbook-pro .text-wrapper-37 {
    position: absolute;
    top: 0;
    left: 74px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b57955;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .gmail-icon {
    position: absolute;
    width: 53px;
    height: 40px;
    top: 1px;
    left: 0;
    object-fit: cover;
}

.macbook-pro .group-6 {
    position: absolute;
    width: 271px;
    height: 60px;
    top: 54px;
    left: 1338px;
}

.macbook-pro .text-wrapper-38 {
    position: absolute;
    top: 9px;
    left: 79px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #b57955;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .instagram-logo-PNG {
    position: absolute;
    width: 61px;
    height: 60px;
    top: 0;
    left: 0;
    object-fit: cover;
}
